.bigv-inside-download {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
}

.bigv-inside-download:hover {
  opacity: 1;
}

.bigv-inside-download svg {
  width: 24px;
  height: 24px;
}
