.better-ig-controller > .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.better-ig-controller > .container > .buttons {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 0 8px;
  padding: 0 8px;
  margin: 4px 0;
}

.better-ig-controller > .container > .content {
  width: 85%;
  max-height: 56px;
  display: flex;
  margin: 3px auto;
  border-radius: 9999px;
  transition: background 0.2s ease-in-out;
}

.better-ig-controller > .container .content-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  padding: 2px 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.better-ig-controller > .container > .content {
  transition: all 0.2s ease-in-out;
  transform: translateY(16px);
  background: rgba(35, 35, 35, 0.75);
  border: 1px solid rgb(109, 101, 101, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.better-ig-controller > .container:hover > .content {
  opacity: 1;
  transform: translateY(0px);
}

.better-ig-controller > .container > .content.active {
  opacity: 1;
  transform: translateY(0px);
}

.better-ig-controller > .container > .content:hover .content-inner {
  opacity: 1;
}
